/***********/
/*MAIN BODY*/
/***********/


#projects {
    /*flex*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    /*size and spacing*/
    width : 90%;
    margin :auto;

}

.flexbox-test {
    width : 400px;
    height: 300px;

    flex: 1 1 auto;



    background-color: lightgrey;
    border: 1px solid black;
}

#nav-projects-sub .nav-subitem {
    display: block;
}