/************/
/* HOMEPAGE */
/************/
#main-view {
    width: 90%;
    margin: auto;
}

.home-section {
    margin: 5% 0px;
    padding: 10px;
    background-color: lightgrey;
}

.home-section h2 {
    margin: 10px 5%;
    font-size: 3vh;
}