:root {
    --sidebar-width: 500px;
}

html {
    height: 100%;
    font-family: 'Source sans pro'
}

body {
    

    /*spacing and size*/
    padding: 0px;
    margin: 0px;

    height: 100%
}


a:active, a:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none;
    outline-style: none;
 }
  
  



/************/
/*LEFT PANEL*/
/************/

#left-panel {

    /*Spacing and size*/
    width: var(--sidebar-width);
    padding : 0px 0px;
    height : 100%;
    display:block;

    position: fixed;

    z-index : 1;

    /*colors*/
    background-color : #213254;
    color: white;

    /*animation*/
    transition: 0.25s;

    --text-display: block;
    
}


/*PANEL TOGGLE BUTTON*/
#panel-toggle {
    /*Size & spacing*/
    position : fixed;
    left : 0px;
    margin : 10px;
    padding : 0px;

    display: none;
    z-index: 2;
    border: none;
    background: none;
}

#panel-toggle:hover {
    cursor: pointer;
}

button::-moz-focus-inner {
    border: 0;
}
button:focus { 
    outline:0;
}




/*PANEL CONTENT*/
#panel-content {
    /*Spacing and size*/
    margin: 5% 0px 0px;
    padding: 30px 0px 0px;
}


/*HEADER*/
header {
    /*spacing and size*/
    text-align: right;
    margin: 0px 7% 0px 0px;
    text-transform: uppercase;
}
header h1 {
    /*spacing and size*/
    font-size: 6vh;
    margin: 10px 0px 10px auto;
    width: 96%;
    display: var(--text-display);
}
header h2 {
    /*spacing and size*/
    font-size: 4vh;
    margin: 15px 0px 10px auto;
    width: 96%;
    display: var(--text-display);
}


/*NAV SIDEBAR*/
#nav-main {
    /*spacing and size*/
    width: 100%;
    margin: 0px auto;
    margin-top: 10%;
    padding: 0px 0px;
    

    /*colors*/
    background-color: #5E78AB;

}

#nav-main a {
    color: white;
    text-decoration: none;
}


/*NAV TOP LEVEL ITEMS*/
.nav-item {
    padding: 2% 0px 2% 5%;
    transition: background 0.1s linear;
}

.nav-item:hover {
    background-color:rgb(60, 79, 117);
}
.nav-item-text {
    font-size: 3vh;
    margin: 0px;
     
}


.nav-top-link {
   
    /* TODO : find a way to make the whole title clickable */

}





.home #nav-home {
    background-color: rgb(60, 79, 117);
}

.projects #nav-projects {
    background-color: rgb(60, 79, 117);
}

.blog #nav-blog {
    background-color: rgb(60, 79, 117);
}


/*NAV SUBITEMS*/
#nav-projects-sub {
    /*spacing and size*/
    display: block;
    margin: 0px;
    padding: 0px;
}

.nav-subitem {
    display: none;
    transition: background 0.1s linear;
}
.nav-subitem:hover {
    background-color:  #213254;
}

.nav-subitem-text {
    font-size: 2vh;
    padding: 1% 0px 1% 10%;
    margin : 0px;

    margin-top : 3px;
}

.nav-subcurrent {
    background-color:  #213254;
}

nav p {
    display: var(--text-display);
}

/**********/
/*  MAIN  */
/**********/


main {
    margin-left: var(--sidebar-width);
    
    overflow-y: hidden;
    overflow-x: auto;
}

#page-title {
    /*Text*/
    text-align: center;
    font-size: 4vmax
}




/***********/
/*  MEDIA  */
/***********/

/*if window is less than 1500px wide*/
@media (max-width: 1500px) {
    :root {
        --sidebar-width: 33%;
    }   
    
    /*if window is less than 1100px wide*/
    @media(max-width: 1100px) { 
        :root {
            --sidebar-width: 50%;
        }
        @media (max-width : 700px) {
            :root {--sidebar-width: 100%;}
        }

        main {
            margin-left: 0px;
        }

        #panel-toggle {
            display: block;
        }


        #left-panel {
            width: 0px;
            position : fixed;
            --text-display: none;
        }

    }

}

/* Un-collapse sidebar when greater than 1100px wide*/
@media (min-width: 1101px) {
    #left-panel {
        width: var(--sidebar-width) !important;
    }


}